h1 {
    writing-mode: vertical-lr;
    margin: 0;
    z-index: -1;
}

.albums {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    span {
        display: block;
        margin-bottom: 20px;
    }
}

.album-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 300px;
    padding: 0 10px;
    div {
        z-index: -1;
    }
}

.title {
    font-size: 24px;
}

audio {
    margin-top: 20px;
}

iframe {
    height: 400px;
}